#img-post{
    max-width: 50%;
    margin: 0;
}

.jumbotron-image{
    text-align: center;
}
.jumbotron{
    border-radius: 3%;
}

textarea{
    width: 100%;
}

.comment-btn{
    text-align: center;
}

/*.btn-post{*/
    /*float: left;*/
/*}*/